<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UpmeSubasta2019.Properties.Settings.SubastaConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Subasta;Integrated Security=True" providerName="System.Data.SqlClient" />
        <!--<add name="UpmeSubasta2019.Properties.Settings.SubastaConnectionString" connectionString="Data Source=SRVTESTSUBASTA\SQLEXPRESS;Initial Catalog=Subasta;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
        <!--<add name="UpmeSubasta2019.Properties.Settings.SubastaUpmePostGresConnectionString" connectionString="Server=192.168.1.58;Port=5000;User id=postgres;Password=postgres;Database = subasta2;" providerName="System.Data.SqlClient"/>-->
        <!--<add name="UpmeSubasta2019.Properties.Settings.SubastaUpmePostGresConnectionString" connectionString="Server=localhost;Port=5432;User id=postgres;Password=Mariajose;Database = Upme;" />-->
      <add name="UpmeSubasta2019.Properties.Settings.SubastaUpmePostGresConnectionString" connectionString="Server=66.42.114.32;Port=6000;User id=postgres;Password=postgres_bak;Database = subasta2;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
      <add key="RutaPdf" value="c:\upme\" />
      <add key="RutaXls" value="c:\upme\" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>


